<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784680862624-jerfe5devkr4p8fh5153sm2f02h02ekg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784680862624-jerfe5devkr4p8fh5153sm2f02h02ekg</string>
	<key>API_KEY</key>
	<string>AIzaSyAQhxOPq-dLt76OwG1QLyvAf2HGpzIfnwA</string>
	<key>GCM_SENDER_ID</key>
	<string>784680862624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esync.demo</string>
	<key>PROJECT_ID</key>
	<string>esync-demo-26004</string>
	<key>STORAGE_BUCKET</key>
	<string>esync-demo-26004.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784680862624:ios:dbaa1bd3d2b2e1d21a5ac5</string>
	<key>DATABASE_URL</key>
	<string>https://esync-demo-26004-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>